.connecModal{
    display: flex;
    flex-direction: column;
padding: 40px;
border-radius: 20px;
box-shadow: 0px 0px 01px 10px #313654,0px 0px 0px 11px #ffffff60 ;
transition: 0.5s;
}

.connecModal:hover{
    box-shadow: 0px 0px 01px 15px #30313c,0px 0px 0px 17px #ffffff60 ;
}

input {
    padding: 15px 20px ;
    border: none;
    outline: none;
    border-radius: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px
}

h2{
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}

.buttonselectconnect{
    width: 100%;
    padding: 20px 0px 
}
.buttonselectconnect button {
    width: 40%;
    padding: 10px;
    border: none; 
    border-radius: 10px;
    margin: 5px 
}